/Afectacion.class
/Cualidad.class
/Evento.class
/Habitacion.class
/IRoom.class
/Interaccion.class
/Luz.class
/ManagerHabitacion.class
/PlanTest.class
/Puerta.class
/Test.class
/Ventana.class
/iluminacion.class
/state.class
/Baño.class
/Cochera.class
/Cocina.class
/Comedor.class
/Cuarto.class
/Sala.class
